<div class="product-container">
  <div class="form-container">
  <div class="pName">
    <label for="productName">Product Name</label>
    <input type="text" id="productName" [(ngModel)]="productName" (ngModelChange)="onProductNameChange()" placeholder="Enter product name">
  </div>
  <div class="pCategory">
    <label for="productCategory">Product Category</label>
    <select id="productCategory" [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange()">
      <option value="" disabled selected>Select a category</option>
      <option *ngFor="let category of categories" [value]="category">{{category}}</option>
    </select>
  </div>
  </div>
    <div class="lottie-container" #lottieContainer>

  
    </div>
  </div>
